{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to CBT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="{% static 'img/afms logo.ico' %}" rel="icon" />
    <link type="text/css" href="{% static 'style/styles.css' %}" rel="stylesheet"/>

    <script>
        function convertToUpperCase(input) {
            input.value = input.value.toUpperCase();
        }
    </script>

</head>
<body>

    <div id="container">

        <div class="dialogue">

            <form method="post">

                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}

                {% csrf_token %}
                <h1>Login</h1>
                <p style="color:#088ccd;">Access your Dashboard using your previously registered credentials!!!</p>
                <input type="text" name="username" id="username" placeholder="Enter name" required oninput="convertToUpperCase(this)" autocomplete="off">
                <input type="text" name="password" id="password" placeholder="Enter SVC No" required autocomplete="off">
                <button>Log in</button>

            </form>


        </div>
    </div>

</body>
</html>