{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBT Login</title>
    <link type="text/css" href="{% static 'style/styles.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'style/auth.css' %}" rel="stylesheet"/>
    <link type="image/x-icon" href="{% static 'img/afms.ico' %}" rel="icon" />

    <script>
        function convertToUpperCase(input) {
            input.value = input.value.toUpperCase();
        }
    </script>

</head>
<body>

        <div class="auth-container">

            <div class="item image">
                <img src="{% static 'img/art.jpg' %}" />
            </div>

            <div class="item" height="400px">
                <h1>Login</h1>
                <p style="color:#088ccd;">Access your Dashboard using your registered credentials!!!</p>
                <form method="post">

                    {% if error %}
                        <p style="color:red; margin: 0;">{{ error }}</p>
                    {% endif %}

                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Log in"></p>
                    <p>If you don't have an Account, <a href="{% url 'authenticator:register' %}">Register here!</a></p>

                </form>
            </div>

        </div>

</body>


</html>

<script>

    let year = new Date().getFullYear();
    let placeholder = document.querySelector('.year');
    placeholder.textContent = year.toString();

</script>

