{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBT Registration</title>
    <link type="text/css" href="{% static 'style/styles.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'style/auth.css' %}" rel="stylesheet"/>
    <link type="image/x-icon" href="{% static 'img/afms.ico' %}" rel="icon" />

    <script>
        function convertToUpperCase(input) {
            input.value = input.value.toUpperCase();
        }
    </script>

</head>
<body>

        <div class="auth-container">

            <div class="item image">
                <img src="{% static 'img/art.jpg' %}" />
            </div>

            <div class="item" height="400px">
                <h1>Register</h1>
                <p style="color:#088ccd;">Register with authentic details!</p>
                <form method="post">

                    {% if error %}
                        <p style="color:red; margin: 0;">{{ error }}</p>
                    {% endif %}

                    {% csrf_token %}
                    <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" required oninput="convertToUpperCase(this)" autocomplete="off">
                    <input type="text" name="password" id="password" placeholder="Password" autocomplete="off" required>
                    <select>
                        <option>SS1</option>
                        <option>SS2</option>
                    </select>
                    <button>Register</button></a>
                    <p>If you already have an Account, <a href="{% url 'authenticator:login' %}">Login here!</a></p>

                </form>


                <!-- <p class="legal">
                     Developed by Akintola Technologies. &copy <span class="year"></span>
                </p> -->

            </div>

        </div>

</body>


</html>

<script>

    let year = new Date().getFullYear();
    let placeholder = document.querySelector('.year');
    placeholder.textContent = year.toString();

</script>

